################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/obj/Release
/src/obj/Debug
/src/bin
